{% if show_landing_text %}
  \title{ {{ book.name }} }
  {{ book.landing_text|hexdoc_block }}\\
{% endif %}

{% include "components/table_of_contents.html.jinja" %}


{% for category in book.categories.values() if category.entries.values() +%}
  {% include "category.html.jinja" %}
{% endfor +%}



