\documentclass[12pt]{article}

\usepackage{xeCJK}

\usepackage{hyperref}

{# \graphicspath{{'{{Images/}}'}} #}
{# \graphicspath{{'{{images/}}'}} #}

%\fontsize{font size}{vertsize (usually 1.2x)}\selectfont

\begin{document}

{# {% include "components/navbar.html.jinja" +%} #}


{% filter replace("#", "\\#") %}
{% filter replace("'", "$\\rq$")%}
{% filter replace('"', "$\\rq\\rq$")%}
{% filter replace("→", "$\\rightarrow$")%}
{% filter safe %}
  {% include "components/welcome.html.jinja" +%}
  {% include "book.html.jinja" +%}
{% endfilter %}
{% endfilter %}
{% endfilter %}
{% endfilter %}
{% endfilter %}


\bigskip

Not an official Minecraft product. Not approved by or associated with Mojang or Microsoft. \\
Minecraft content and materials are the intellectual property of their respective owners. \\
Made with love using \href{https://pypi.org/project/hexdoc/}{hexdoc}

\end{document}