{% import "macros/formatting.html.jinja" as formatting -%}

\section*{ {{ _("hexdoc.toc.title") }} }

{# \tableofcontents #}

{% for category in book.categories.values() if category.entries.values() %}
    {{ formatting.maybe_spoilered_link(category) }}

    \begin{itemize}
      {% for entry in category.entries.values() %}
        \item{{ formatting.maybe_spoilered_link(entry) }}
      {% endfor %}
    \end{itemize}
{% endfor %}
\newpage
