\begin{quote}
  \section*{ {{ _f("hexdoc.welcome.1").format(mod_name) }} }
  {{ _f("hexdoc.welcome.2") }}\\
  {% if is_bleeding_edge %}
    {{ _f("hexdoc.welcome.3") }}\\
  {% endif %}
  {{ _f("hexdoc.welcome.4") }}

\end{quote}
